@using WorldLinkMaster.Web.Models
@model Coupon
@{
    ViewData["Title"] = Localizer["New Coupon"];
}

<h1>@Localizer["New Coupon"]</h1>
<form asp-action="Create" method="post">
    <partial name="_Form" />
</form>
