@using WorldLinkMaster.Web.Models
@model Subcategory
@{
    ViewData["Title"] = Localizer["Edit Subcategory"];
}

<h1>@Localizer["Edit Subcategory"]</h1>
<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <partial name="_Form" />
</form>
