@using WorldLinkMaster.Web.Models
@model Product
@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit Product</h1>
<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <partial name="_Form" />
</form>
