@using WorldLinkMaster.Web.Models
@model PromoEvent
@{
    ViewData["Title"] = "New Sale Event";
}

<h1>New Sale Event</h1>
<form asp-action="Create" method="post">
    <partial name="_Form" />
</form>
