@using WorldLinkMaster.Web.Models
@model PromoEvent
@{
    ViewData["Title"] = Localizer["New Sale Event"];
}

<h1>@Localizer["New Sale Event"]</h1>
<form asp-action="Create" method="post">
    <partial name="_Form" />
</form>
